.header-bg {
  background: url("/images/bg1.jpg") no-repeat top center;
  width: 100%;
  min-height: 750px; }

img {
  width: 128px;
  height: 92px;
  margin-top: 8px;
  margin-right: 221px;
  margin-bottom: 139px; }

ul {
  display: flex;
  justify-content: space-around;
  margin-top: 51px;
  margin-bottom: 167px; }
  ul li {
    font-family: "Gentium Book Basic", serif;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff; }
    ul li:hover {
      color: #000000;
      cursor: pointer; }

h1 {
  opacity: 0.92;
  font-family: "Yeseva One", cursive;
  font-size: 90px;
  text-align: center;
  color: rgba(255, 255, 255, 0.92);
  text-shadow: 0.5px 0.9px 2px rgba(1, 1, 1, 0.64);
  margin-bottom: 34px; }

.devider {
  max-width: 232px;
  max-height: 43px;
  margin: 0 auto;
  margin-bottom: 34px; }

button {
  width: 228px;
  height: 57px;
  opacity: 0.7;
  background-color: #ffffff;
  border: solid 1px #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase; }
  button:hover {
    opacity: 0.8;
    background-color: #000000;
    border: solid 1px #000000;
    color: #ffffff;
    cursor: pointer; }

i {
  font-size: 21px;
  color: #000000;
  margin-top: 50px;
  margin-right: 20px; }
  i:hover {
    color: #ffffff;
    cursor: pointer; }

.book-button {
  float: right; }
